# Easier navigation: .., ..., and ~
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias home="cd ~"

# mkdir
function md() {
	mkdir -p "$@" && cd "$@"
}



# This script fragment emits Cygwin rulez under bash/cygwin
if [ "$(expr substr $(uname -s) 1 6)" == "CYGWIN" ];then
	alias www="cd /cygdrive/c/webroot"
fi


# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# add sublime to PATH
# echo PATH=$PATH:"/cygdrive/c/Program Files/Sublime Text 2"
alias subl="/cygdrive/c/Program\ Files/Sublime\ Text\ 2/sublime_text.exe &"

